 <aside data-ng-include src="'template/header.html'"></aside>
<div class="container">
					<div class="CajaInicio animated bounceInRight">
							<h1 style="color:black">Reportes de Ventas Realizadas</h1>
							<form id="FormIngreso">
										
										<button  ng-click="GenerarPdf()" class="list-group-item">
									      <span class="glyphicon glyphicon-list-alt"></span> Reporte en PDF</h4>
									    </button>
										
										<button  ng-click="GenerarExcel()" class="list-group-item">
									      <span class="glyphicon glyphicon-list-alt"></span> Reporte en Excel</h4>
									    </button>
									   
														
									  </div>
									
							</form>
						</div>
						<!--abm-directiva></abm-directiva-->
		</div>